<div class="instructions-div" onclick="this.style.transform = this.style.transform == 'translateX(0px)' ? 'translateX(calc(-100% + 0.75em))' : 'translateX(0px)'" style="transform: translateX(0px)">
  <!--- write your instructions here --->
</div>

<!--- Do not touch below this line - code for styling --->
<script>
   window.onload = () => {
      document.querySelectorAll(".hc-button").forEach(i => {
         var observer = new MutationObserver(function (mutations) {
            if (i.style.display == "inline") {
               i.style.display = "grid";
            }
         });

         observer.observe(i, {
            attributes: true //configure it to listen to attribute changes
         });
      })
      var submitAreaChange = new MutationObserver((mutations, obs) => {
         if (document.querySelector(".codecheck-submit-response").innerHTML.length > 0) {
            document.querySelector(".horstmann_codecheck > form").scrollTo(0, document.querySelector(".horstmann_codecheck > form").scrollHeight);
         }
      });
      submitAreaChange.observe(document.querySelector(".codecheck-submit-response"), {
         childList: true,
         characterData: true,
         subtree: true,
         attributes: true
      });

      let dkBtn = document.createElement("button")
      dkBtn.classList.add("dkBtn")
      dkBtn.onclick = () => {
         document.querySelector("html").classList.toggle("dark");
      }
      document.body.appendChild(dkBtn);
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
         document.querySelector("html").classList.add("dark");
      }

      let files = document.querySelectorAll(".codecheckFilename");
      let tabBar = document.createElement("div")
      tabBar.classList.add("tab_row")
      for (var i of files) {
         let tab = document.createElement("button")
         const file = i;
         tab.onclick = () => {
            document.querySelector(".horstmann_codecheck > form").scrollTo(0, 0)
            for (var j of files) {
               j.nextElementSibling.style.display = "none";
            }
            file.nextElementSibling.style.display = "inherit";
            for (var k of tabBar.children) {
               k.classList.remove("selected");
            }
            tab.classList.add("selected");
         }
         tab.classList.add("fileTabBar");
         tab.classList.add("codecheckFilename");
         tab.innerHTML = file.innerHTML;
         tabBar.appendChild(tab);
      }
      document.querySelector(".horstmann_codecheck").insertAdjacentElement("afterbegin", tabBar)
      for (var l of files) {
         l.nextElementSibling.style.display = "none";
      }
      files[0].nextElementSibling.style.display = "inherit";
      for (var m of tabBar.children) {
         m.classList.remove("selected");
      }
      tabBar.children[0].classList.add("selected");
      document.querySelector(".instructions-div").innerHTML = document.querySelector(".instructions-div").innerHTML.trim();
      if (window !== window.parent) {
         let instructions = document.querySelector(".instructions-div").innerHTML;
         document.body.innerHTML = "";
         document.body.insertAdjacentHTML("afterbegin", `${instructions}<br><br><button onclick=" event.preventDefault(); var url = '${window.location.href}'; var windowFeatures = 'width=800,height=600,menubar=no,location=no,resizable=yes,scrollbars=yes,status=no'; window.open(url, '_blank', windowFeatures);" style="padding: 10px; border: 1px solid darkgrey; color: black; background-color: lightgrey; border-radius: 10px; text-decoration: none; position: fixed;">Click here to open your assignment</a>`)
      }
     for (var i of document.querySelectorAll("p")) {
       if (i.innerText.includes("Submission ID")) {
         i.remove();
       }
     }
   }
</script>

<style>
   td:nth-child(3),
   td:nth-child(4),
   td:nth-child(5) {
     max-width: 25vw;
   }
   td>pre {
     overflow-x: auto;
     max-height: 100%;
     padding: 15px 5px 15px 5px;
     margin: 0;
   }
   td:nth-child(1),
   td:nth-child(2) {
     max-width: 12.5vw;
   }
   td {
     position: relative;
   }
   .codecheck-submit-response {
     margin: 20px 1em 0 1em !important;
     padding: 1em 0 0 0;
     font-size: 0.9em;
     min-width: 50em;
     border-top: 1px solid lightgray;
   }
   .horstmann_codecheck {
     position: relative;
     height: calc(100vh - 90px);
     overflow: auto;
   }
   .horstmann_codecheck > form {
     height: calc(100vh - 125px);
     overflow: auto;
   }
   .codecheckSubmit {
     position: fixed;
     top: 0;
     width: calc(100vw - calc(calc(50vw - 60px)));
     margin: 0;
     z-index: 9999;
     display: grid;
     grid-gap: 10px;
     grid-template-rows: 40px;
     padding: 10px calc(calc(50vw - 60px) / 2) 10px calc(calc(50vw - 60px) / 2);
     background: white;
     grid-auto-columns: 1fr;
   }
   .codecheckFilename:not(.fileTabBar) {
     visibility: hidden;
     height:0;
     font-size: 0;
   }
   .tab_row {
     margin-left: 1em;
     font-size: 14px;
   }
   .codecheckFilename.fileTabBar {
     margin: 0;
     padding: 0.5em;
     width: min-content;
     background: #F3F3F4;
     border-top: 1px solid #eee;
     border-left: 1px solid #eee;
     border-right: 1px solid #eee;
     font-size: 14px;
     border-bottom: 0px solid transparent;
     cursor: default;
     opacity: 0.6;
   }
   .codecheckFilename.fileTabBar.selected {
     opacity: 1;
   }
   .hc-button {
      font-size: 1em;
      grid-row: 1 / span 1;
      padding: 0 14px;
      display: grid;
      place-items: center;
      margin: 0;
      border: 0;
   }
   .instructions-div:empty {
      display: none;
   }
   .instructions-div {
     background-color: #dbdbdb;
     width: fit-content;
     max-width: 500px;
     height: fit-content;
     max-height: 200px;
     position: fixed;
     z-index: 9999;
     padding: 1em 2em 1em 1em;
     border-radius: 20px;
     bottom: 1em;
     left: 1em;
     box-sizing: border-box;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M15.6315 12L10.8838 3.03212L9.11622 3.9679L13.3685 12L9.11622 20.0321L10.8838 20.9679L15.6315 12Z'%3E%3C/path%3E%3C/svg%3E");
     background-position: center right -10px;
     background-size: 50px;
     background-repeat: no-repeat;
     overflow: auto;
     scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .instructions-div::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
   body {
     margin: calc(60px + 1em) 0 0 0;
     padding: 0;
     width: 100vw;
     overflow-x: hidden;
     height: fit-content;
   }
   .editor {
     width: calc(100% - 2em);
     box-sizing: border-box;
   }
   html {
     background-color: white;
   }
   html.dark {
     filter: hue-rotate(180deg) invert(0.90) contrast(1.05) brightness(1.1);
   }
   .dkBtn {
     width: 50px;
     height: 50px;
     position: fixed;
     bottom: 1em;
     right: 1em;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12 21.9967C6.47715 21.9967 2 17.5196 2 11.9967C2 6.47386 6.47715 1.9967 12 1.9967C17.5228 1.9967 22 6.47386 22 11.9967C22 17.5196 17.5228 21.9967 12 21.9967ZM12 19.9967C16.4183 19.9967 20 16.415 20 11.9967C20 7.57843 16.4183 3.9967 12 3.9967C7.58172 3.9967 4 7.57843 4 11.9967C4 16.415 7.58172 19.9967 12 19.9967ZM7.00035 15.316C9.07995 15.1646 11.117 14.2939 12.7071 12.7038C14.2972 11.1137 15.1679 9.07666 15.3193 6.99706C15.6454 7.21408 15.955 7.46642 16.2426 7.75406C18.5858 10.0972 18.5858 13.8962 16.2426 16.2393C13.8995 18.5825 10.1005 18.5825 7.75736 16.2393C7.46971 15.9517 7.21738 15.6421 7.00035 15.316Z'%3E%3C/path%3E%3C/svg%3E");
     background-size: 30px;
     background-position: center;
     background-repeat: no-repeat;
     border-radius: 100%;
     background-color: #dbdbdb;
     border: 0 solid transparent;
     z-index: 100000;
   }
  .interactivities {
    margin:0 !important;
    padding:0 !important;
  }
  .interactivities > * {
    margin: 0 !important;
    padding: 0 !important;
  }
</style>